@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lemonada:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mark:hover {
  color: #1876fd;
  text-decoration: underline;
}
.ant-drawer-content-wrapper {
  width: 316px !important;
}
.error-page-container {
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
}

.error-code {
  font-size: 56px;
  font-weight: bold;
}

.error-message {
  font-size: 20px;
  margin-bottom: 10px;
}
